<div class="tutorial">
  <h2>A Quick Tutorial</h2>
  <p>The <em>Open</em> menu item takes you to the dialog where you can open
    your translation file by dragging and dropping it onto the marked screen
    area.
  </p>
  <p>If you dropped a valid XLIFF translation file on the marked area, the
    application takes you to the translation dialog. This is where the main
    part of the translation work, basically all the work, is done.
  </p>
  <p>
    <button mat-button type="button" color="accent" aria-label="Show me how it works..." (click)="showMeHow()">Show me
      how
      it works...</button>
  </p>
</div>
