<div class="translationActions">
  <div class="translationActionIcon">
    <button mat-icon-button color="primary" aria-label="Download button" (click)="download()">
      <mat-icon svgIcon="share"></mat-icon>
    </button>
  </div>
  <div class="translationActionIcon">
    <button mat-icon-button color="primary" aria-label="Close button" (click)="close()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>

<toxic-translation-unit-table></toxic-translation-unit-table>

<ng-template #downloadStartedSnackbar>
  <div class="snackbar">
    <span>The download of your translations has been initiated.</span>
  </div>
</ng-template>
