.translationHeading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.translationHeadingFilename {
  font-size: large;
  font-weight: bold;
  margin: 0.5em;
}

.unsavedChangesMarker {
  font-size: large;
  font-weight: bold;
  margin: 0.5em;
}

.translationActionsContainer {
  flex: none;
}

.translationActions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
}

.translationActionIcon {
  flex: none;
}
