.full-width-table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.label {
  margin-right: 1em;
  font-weight: bold;
}

.translationUnitTableCell {
  margin-top: 0.5ex;
}

.id {
  font-size: x-small;
}

.source {
  font-size: larger;
}

.hintsContainer {
  margin-bottom: 1ex;
}

.hints {
  font-size: x-small;
}

.meaning {
  font-size: x-small;
}

.description {
  font-size: x-small;
}

.idAndReviewActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.targetAndAction {
  display: flex;
}

.targetFormField {
  flex: auto;
}

.reviewActions {
  flex: none;
}

.sourceAndTargetContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.sourceAndTarget {
  flex: 1 1 50%;
}

.left-and-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.reviewModeSlideToggle {
  margin-right: 1em;
}
