<form [formGroup]="form" autocomplete="off">

  <div class="left-and-right">
    <div>
      <span>
        <mat-form-field appearance="standard">
          <mat-label>Target Language</mat-label>
          <input matInput placeholder="the translations are for the language..."
            formControlName="inputTargetLanguage" />
        </mat-form-field>
      </span>
      <span *ngIf="dubiousLanguage">
        <mat-icon svgIcon="warning"
          matTooltip="This doesn't look like a typical language code. I hope you know what you are doing."></mat-icon>
      </span>
    </div>
    <div class="reviewModeSlideToggle">
      <mat-slide-toggle color="primary" [checked]="reviewMode" (change)="toggleReviewMode($event)">Review Mode
      </mat-slide-toggle>
    </div>
  </div>

  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="words you are looking for..." #input />
  </mat-form-field>

  <ng-container formArrayName="translationUnits">
    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" aria-label="Elements">
        <!-- Translation Column -->
        <ng-container matColumnDef="translation">
          <th mat-header-cell *matHeaderCellDef>Translation</th>
          <td mat-cell *matCellDef="let item" [formGroup]="formGroup(item.id)">
            <div class="translationUnitTableCell">
              <div class="idAndReviewActions">
                <div>
                  <mat-icon *ngIf="item.unsupported === true" svgIcon="hand-left"
                    matTooltip="Phew! This translation item is too complex for me. Maybe in a future version...">
                  </mat-icon>
                  <mat-icon *ngIf="item.fragmented === true && item.unsupported !== true" svgIcon="puzzle"
                    matTooltip="This translation consists of several parts">
                  </mat-icon><span class="label id">ID</span><span class="id">{{ item.translationUnitId }}</span>
                </div>
                <div class="reviewActions">
                  <button *ngIf="item.flaggedForReview" mat-stroked-button color="accent"
                    aria-label="Looks good to me button" (click)="looksGoodToMe(item)">
                    <mat-icon svgIcon="checkmark"></mat-icon>Looks good to me
                  </button>
                  <button *ngIf="!item.flaggedForReview" mat-stroked-button color="primary"
                    aria-label="Request review button" (click)="requestReview(item)">
                    <mat-icon svgIcon="flag"></mat-icon>Should be reviewed
                  </button>
                </div>
              </div>

              <div [ngClass]="{sourceAndTargetContainer: columnLayout}">
                <div [ngClass]="{sourceAndTarget: columnLayout}">{{ item.source }}</div>
                <div [ngClass]="{sourceAndTarget: columnLayout}">
                  <mat-form-field appearance="standard" class="full-width">
                    <mat-icon matSuffix *ngIf="item.flaggedForReview" svgIcon="flag"></mat-icon>
                    <textarea matInput formControlName="target" cdkTextareaAutosize cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="showHints(item)" class="hintsContainer">
                <span class="label hints">Translation hints</span>
                <div *ngIf="showMeaning(item)">
                  <span class="label meaning">Meaning</span><span class="meaning">{{ item.meaning }}</span>
                </div>
                <div *ngIf="showDescription(item)">
                  <span class="label description">Description</span><span class="description">{{ item.description
                    }}</span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource?.filtered?.length" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
      </mat-paginator>
    </div>
  </ng-container>
</form>
